// @import './fonts.scss';
@import './variables.scss';
@import './libs/normalize.scss';

@import './components/all.scss';

body {
	background-color: $background;
}

.wrapper {
	width: calc(100vw - 100px);
	height: 100%;
	background-color: #fff;
	margin: 50px auto;
	border-radius: 10px;
	max-width: 1400px;

	@media (max-width: 700px) {
		width: calc(100vw - 30px);
		margin: 20px auto;
	}
}

.content {
	padding: 40px 0;

	&__title {
		margin: 60px 0;
		font-weight: 800;
		font-size: 38px;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-column-gap: 11px;

		@media (max-width: 1400px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: 1070px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 760px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 1300px) {
			.categories {
				width: 100%;
				overflow: auto;
			}
			.sort {
				padding-left: 25px;
				b {
					display: none;
				}
			}
		}

		@media (max-width: 780px) {
			flex-direction: column-reverse;
			.categories {
				margin-top: 30px;
				ul {
					li {
						padding: 8px 20px;
					}
				}
			}
		}
	}
}

.container {
	width: $container-width;
	margin: 0 auto;

	&--cart {
		max-width: 820px;
		margin: 90px auto;
		.content__title {
			margin: 0;
		}
	}
	@media (max-width: 325px) {
		margin: 0 5px;
	}
}

.empty-cart {
	margin: 100px auto 30px;
	width: 700px;
	text-align: center;

	&__text {
		width: 500px;
		margin: 0 auto 30px;
	}
	&__img {
		width: 450px;
	}
}

.cart {
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.content__title {
		display: flex;
		align-items: center;
		font-size: 32px;

		svg {
			position: relative;
			top: -2px;
			width: 30px;
			height: 30px;
			margin-right: 10px;
			path {
				stroke: $black;
				stroke-width: 1.9;
			}
		}
	}

	.content__items {
		display: block;
	}

	&__clear {
		display: flex;
		align-items: center;
		cursor: pointer;
		@include noselect();

		span {
			display: inline-block;
			margin-left: 7px;
			color: #b6b6b6;
			font-size: 18px;
		}

		span,
		svg,
		path {
			transition: all $duration ease-in-out;
		}

		&:hover {
			svg {
				path {
					stroke: darken($color: #b6b6b6, $amount: 50);
				}
			}
			span {
				color: darken($color: #b6b6b6, $amount: 50);
			}
		}
		@media (max-width: 430px) {
			svg {
				display: none;
			}
		}
	}

	&__item {
		display: flex;
		width: 100%;
		border-top: 1px solid $gray-line;
		padding-top: 30px;
		margin-top: 30px;

		&-img {
			display: flex;
			align-items: center;
			margin-right: 15px;
			width: 10%;

			img {
				width: 80px;
				height: 80px;
			}
			@media (max-width: 380px) {
				margin-right: 35px;
			}
		}

		&-info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 40%;

			h3 {
				font-weight: bold;
				font-size: 22px;
				line-height: 27px;
				letter-spacing: 0.01em;
			}

			p {
				font-size: 18px;
				color: #8d8d8d;
			}
			@media (max-width: 810px) {
				margin: 0 28px;
			}

			@media (max-width: 620px) {
				text-align: center;
			}

			@media (max-width: 380px) {
				max-width: 100%;
				width: 72%;
				margin-right: 0;
				margin-left: 10px;
			}
		}

		&-count {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 13%;

			&-minus {
				&:disabled {
					transform: none;
					background-color: #fff;
					border-color: gray;
					opacity: 0.6;
					svg {
						path {
							fill: gray;
						}
					}
				}
				svg {
					path:first-of-type {
						display: none;
					}
				}
			}

			b {
				font-size: 22px;
				margin: 0 5px;
			}
			@media (max-width: 380px) {
				width: 30%;
				margin-right: 10px;
			}
		}

		&-price {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 33%;

			b {
				font-weight: bold;
				font-size: 22px;
				letter-spacing: 0.01em;
			}
			@media (max-width: 550px) {
				justify-content: flex-start;
				margin: 0 10px;
			}
		}

		&-remove {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: 4%;

			.button {
				border-color: darken($color: $gray-line, $amount: 10);
			}

			svg {
				transform: rotate(45deg);

				path {
					fill: darken($color: $gray-line, $amount: 15);
				}
			}

			.button {
				svg {
					width: 11.5px;
					height: 11.5px;
					position: relative;
				}
				&:hover,
				&:active {
					border-color: darken($color: $gray-line, $amount: 80);
					background-color: darken($color: $gray-line, $amount: 80);
				}
			}
		}

		@media (max-width: 550px) {
			flex-wrap: wrap;
		}
	}

	&__bottom {
		margin: 50px 0;

		&-details {
			display: flex;
			justify-content: space-between;

			span {
				font-size: 22px;

				&:last-of-type {
					b {
						color: $orange;
					}
				}
			}
			@media (max-width: 550px) {
				column-gap: 15px;
			}
		}

		&-buttons {
			display: flex;
			justify-content: space-between;
			margin-top: 40px;

			.go-back-btn {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 210px;

				border-color: darken($color: $gray-line, $amount: 10);

				span {
					color: darken($color: $gray-line, $amount: 20);
					font-weight: 500;
					font-weight: 600;
				}

				&:hover {
					background-color: darken($color: $gray-line, $amount: 90);
					border-color: darken($color: $gray-line, $amount: 90);

					span {
						color: $gray-line;
					}
				}

				svg {
					margin-right: 12px;
					path {
						fill: transparent;
						stroke-width: 2;
					}
				}
			}

			.pay-btn {
				font-size: 16px;
				font-weight: 600;
				width: 210px;
				padding: 16px;
			}

			@media (max-width: 550px) {
				column-gap: 15px;
			}
		}
	}

	&--empty {
		margin: 0 auto;
		width: 560px;
		text-align: center;

		h2 {
			font-size: 32px;
			margin-bottom: 10px;
		}

		p {
			font-size: 18px;
			line-height: 145.4%;
			letter-spacing: 0.01em;
			color: #777777;
		}

		icon {
			position: relative;
			top: 2px;
		}

		img {
			display: block;
			width: 300px;
			margin: 45px auto 60px;
		}

		.button--black {
			padding: 12px 0 14px;
			width: 230px;
			margin: 0 auto;
			font-weight: 600;
			font-size: 18px;
		}
	}
}

.error__message {
	font-weight: 600;
	font-size: 28px;
}

.fullPizza {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 30px;

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: 960px) {
			align-items: start;

			.button {
				margin: 20px 0;
			}
		}
	}
	&__img {
		width: 320px;
		@media (max-width: 420px) {
			width: 220px;
	}
	}

	&__desc {
		padding: 10px;
		width: 70%;
		background-color: #f3f3f3;
		border-radius: 10px;

		
		p:not(:last-child) {
			margin-bottom: 10px;
		}

		font-size: 30px;

		@media (max-width: 960px) {
			width: 100%;
			/* margin-bottom: 40px; */
		}

		@media(max-width: 420px) {
			overflow-y: scroll;
			height: 250px;
		}
	}
	@media (max-width: 960px) {
		flex-direction: column;
		align-items: start;
	}
}

/* .test {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 210px;
	color: darken($color: $gray-line, $amount: 10);
	border-color: darken($color: $gray-line, $amount: 10);
	&:hover {
		background-color: #111111;
		border-color: #111111;
		color: #fff;
	}
} */
